*{margin: 0;padding: 0;}
li{
	list-style: none;
}
#top{
	width:100%px;
	height: 30px;
	background: #f8f8f8;
}

#top .top-warper{
	width: 1190px;
	height: 30px;
	margin:0 auto;
	
}
#top .top-warper li{
	float: left;
	list-style: none
}

#top .top-warper li a{
		text-decoration: none;
}
#top .top-warper .top-right{
	float: right;
}
 #top .top-warper .top-right .top-left-red a{
 	color:red;
 }
#top .top-warper .top-r-t{
	width:100px;
	height: 100px;
}
#top .top-warper .top-left li{
	width:98px;
	height:29px;
	border:1px solid #e9e9e9;
	text-align:center;
	line-height:30px;
	font-size: 12px;
	
}

#top .top-warper .top-right .top-left-red{
	width:46px;
	height:30px ;

	line-height:30px;
}

#top .top-warper .top-right li{
	margin-left: 20px;
	font-size: 12px;
		line-height:30px;
}

#top .top-r-t{
					width:100px;
					height:66px;
					
					position:absolute;
					left:19%;
					top:30px;
					display: none;	
				}
	
			#top	.top-r-l{
					width:80px;
					height:30px;
					
					position:absolute;
					right:15%;
					top:30px;
				display: none;	
				}
				
			#top	.top-r-c{
					width:186px;
				
					position:absolute;
					right:6%;
					top:30px;
						display: none;	
				}
			
			#top	.top-r-b{
					width:80px;
					height:30px;
					
					position:absolute;
					right:1%;
					top:30px;
						display: none;		
				}
		a{
			text-decoration: none;
		}
	
			#header{
				width:100% ;
				height:126px ;
				background:#99f;
			}
			#header .header-warpper{
				width:1190px;
				height:126px ;
				background: #F8F8F8;
				margin:0 auto;
			}
			#header .header-warpper img{
				float: left;
				margin-top:20px;
				margin-left:30px;
			}
		
				#header .header-warpper ul{
					margin-left:270px;
				}
				#header .header-warpper ul li{
					float: left;
					list-style: none;
					border-right:1px solid #000000;
					margin-top:-10px;
				}
				#header .header-warpper ul li:hover a{
				color:red;
				}


		
			
			#div1 .div1-1{
				width:148px ;
				height:504px ;
				background: #00BAFF;
				float: left;
			}
			#div1 .div1-1 li{
				width:148px ;
				height:160px ;
				text-align: center;list-style: none;
				
				
			}
			#div1 .div1-1 li span{
				line-height:10px;
			}
			#div1 .div1-1 li a{
				line-height: 10px;
				text-decoration: none;
				font-size: 12px;
				
			}
			
			#div1{
				position: absolute;
					top:196px;
				left:244px;
				display: none;
			}
			
			
			
				
			#div2 .div1-1{
				width:148px ;
				height:504px ;
				background: #00BAFF;
				float: left;
			}
			#div2 .div1-1 li{
				width:148px ;
				height:160px ;
				text-align: center;
				
				
			}
			#div2 .div1-1 li span{
				line-height:10px;
			}
			#div2 .div1-1 li a{
				line-height: 10px;
				text-decoration: none;
				font-size: 12px;
				
			}
			
			#div2{
				position: absolute;
					top:196px;
				left:244px;
				display: none;
			}
			
			
			
			#div3 .div1-1{
				width:148px ;
				height:504px ;
			background: #00BAFF;
				float: left;
			}
			#div3 .div1-1 li{
				width:148px ;
				height:160px ;
				text-align: center;
				
				
			}
			#div3 .div1-1 li span{
				line-height:10px;
			}
			#div3 .div1-1 li a{
				line-height: 10px;
				text-decoration: none;
				font-size: 12px;
				
			}
			
			#div3{
				position: absolute;
					top:196px;
				left:244px;
				display: none;
			}
			
			#div4 .div1-1{
				width:148px ;
				height:504px ;
				background: #00BAFF;
				float: left;
			}
			#div4 .div1-1 li{
				width:148px ;
				height:160px ;
				text-align: center;
				
				
			}
			#div4 .div1-1 li span{
				line-height:10px;
			}
			#div4 .div1-1 li a{
				line-height: 10px;
				text-decoration: none;
				font-size: 12px;
				
			}
			
			#div4{
				position: absolute;
					top:196px;
				left:244px;
				display: none;
			}
			
			#div5 .div1-1{
				width:148px ;
				height:504px ;
				background: #00BAFF;
				float: left;
			}
			#div5 .div1-1 li{
				width:148px ;
				height:160px ;
				text-align: center;
				
				
			}
			#div5 .div1-1 li span{
				line-height:10px;
			}
			#div5 .div1-1 li a{
				line-height: 10px;
				text-decoration: none;
				font-size: 12px;
				
			}
			
			#div5{
				position: absolute;
				top:196px;
				left:244px;
				display: none;
			}
			
			#div6 .div1-1{
				width:148px ;
				height:504px ;
				background: #00BAFF;
				float: left;
			}
			#div6 .div1-1 li{
				width:148px ;
				height:160px ;
				text-align:center;
			
				
				
			}
			#div6 .div1-1 li span{
				line-height:10px;
			}
			#div6 .div1-1 li a{
				line-height: 10px;
				text-decoration: none;
				font-size: 12px;
				
			}
			
			#div6{
				position: absolute;
				top:196px;
				left:244px;
				display: none;
				
				
			}
			#div6 .div1-1 li{
				list-style: none;
			}
			#div5 .div1-1 li{
				list-style: none;
			}
			#div4 .div1-1 li{
				list-style: none;
			}
			#div3 .div1-1 li{
			list-style: none;
			}
			#div2 .div1-1 li{
				list-style: none;
			}
			#div .div1-1 li{
				list-style: none;
			
			}
			#bloc ul{
				width:200px;
				height: 483px;
				background:#ACD598;
			
				
			}
			#bloc li{
				width:200px;
				height:72px;
				list-style: none;
				background:#8dc989;
				float: left;
					
			}
			#bloc li a{
				font-size: 12px;
			}
			#bloc{
				position: absolute;
				left: 45px;
				height:20px;
				display: none;
			
			}
			#bloc li:hover{
				background:#00baff;
			}	
			

				#header .header-warpper span{
				
					display: block;
					width: 144px;
					height: 30px;
				
					float: right;
					margin-top:46px;
					text-align: center;
					text-align: right;
					background-image: url("../img/4.jpg");
					background-repeat:no-repeat;
					background-position: 0px 5px;
					border:1px solid #000000;
					line-height: 30px;
					margin-right: 20px;
				
				}
				#nav{
					width: 100%;
					height:40px ;
					
				}
				#nav .nav-warpper{
					width:1190px ;
					height:40px ;
					margin:0 auto;
					
				}
				
				#nav .nav-warpper .nav-left{
					
					width: 200px;
					height: 40px;
					text-align: center;
					line-height: 40px;
					margin-left:0px;
					background: #000000;
				}
				
				#nav .nav-warpper .nav-left a{
					color: #fff;
				}
				
				#nav .nav-warpper a{
					color: #667C7C;
				}
				
				#nav .nav-warpper li{
					float: left;
					text-align: center;
					line-height: 40px;
					width:100px;
					height:40px;
				}
				#nav .nav-warpper li:hover{
					background:#666666;
				}
				#content{
					width: 100%;
					height:336px ;
					border-top:2px solid #000000;
					
				}
				#content .content-warpper{
					width:1190px;
					height: 336px;
					margin:0 auto;
				}
				
				#section{
					width:100% ;
					height:199px;
					margin-top:40px;
				}
				#section .section-warpper{
					width: 1190px;
					height:199px ;
					margin: 0 auto;
					
				}
				#section .section-warpper .top-l{
					width:1190px;
					height:44px ;
					border-bottom: 2px solid #000000;
					line-height: 44px;
					
					
				}
				#section .section-warpper .span2{
					float: right;
					margin-right:10px;
				}
				#actives{
					width:100%;
					height: 372px;
					margin-bottom: 40px;
					
				}
				#actives .active-warpper{
					width: 1190px;
					height:372px ;
					margin:0 auto;
					background: #00BAFF;
					position: relative;
				}
				#actives .active-warpper p{
					width:1190px;
					height:2px;
					background:#000000;
					margin-top:4px
				}
				#actives .active-warpper .ulleft li{
					float: left;
					width:136px ;
					height: 30px;
					border:1px solid #666666;
					margin-top:-26px;
					text-align: center;
					line-height: 30px;
					
				}
					#section .section-warpper .span1{
						display:block;
						float: left;
						width: 100%;
						height: auto;
						
					
					}
					
					#actives .active-warpper .ulleft li:hover{
					background: #666666;
					
				}
					#actives .active-warpper .ulleft {
					margin-left:224px;
					}
				#actives .active-warpper .atevk {
					margin-left:2px;
					position: absolute;
					left:38px;
					top:40px;
					display: none;
					
				}
				span
					#actives .active-warpper .atevk li{
					width:230px;
					height: 238px;
						float:left;
					
						
					}
					#actives .active-warpper .atevk li img{
					width:100%;
					height: 100%;
					margin-left:-20px;
					}
					
					#actives .active-warpper .atevk i{
					display: block;
						margin-top;10px;
						
					}
					#actives .active-warpper .atevk1 {
					margin-left:2px;
					position: absolute;
					left:38px;
					top:40px;
					display: none;
					
				}
					#actives .active-warpper .atevk1 li{
					width:230px;
					height: 238px;
						float:left;
					
						
					}
					#actives .active-warpper .atevk1 li img{
					width:100%;
					height: 100%;
					margin-left:-20px;
					}
					
					#actives .active-warpper .atevk1 i{
					display: block;
						margin-top;10px;
						
					}
				
					#actives .active-warpper .atevk2 {
					margin-left:2px;
					position: absolute;
					left:38px;
					top:40px;
					display: none;
					
				}
					#actives .active-warpper .atevk2 li{
					width:230px;
					height: 238px;
						float:left;
					
						
					}
					#actives .active-warpper .atevk2 li img{
					width:100%;
					height: 100%;
					margin-left:-20px;
					}
					
					#actives .active-warpper .atevk2 i{
					display: block;
						margin-top;10px;
						
					}
				
				
				
				
					#actives .active-warpper .atevk3 {
					margin-left:2px;
					position: absolute;
					left:38px;
					top:40px;
					display: none;
					
				}
					#actives .active-warpper .atevk3 li{
					width:230px;
					height: 238px;
						float:left;
					
						
					}
					#actives .active-warpper .atevk3 li img{
					width:100%;
					height: 100%;
					margin-left:-20px;
					}
					
					
					#actives .active-warpper .atevk3 i{
					display: block;
						margin-top;10px;
						
					}
				
				
				
				
					#actives .active-warpper .atevk4 {
					margin-left:2px;
					position: absolute;
					left:38px;
					top:40px;
					display: none;
					
				}
					#actives .active-warpper .atevk4 li{
					width:230px;
					height: 238px;
						float:left;
					
						
					}
					#actives .active-warpper .atevk4 li img{
					width:100%;
					height: 100%;
					margin-left:-20px;
					}
					
					#actives .active-warpper .atevk4 i{
					display: block;
						margin-top;10px;
						
					}
	
		.active-warpper{
			position:absolute;
			top:0px;
			left:0px;
		}
		.active-warpper .active-right{
			position: absolute;
			left:53px;
			top:110px;
		}
		
		.p1{
			width:100%;
			
			border:2px solid #000000;
		}
		
			#content{
					width: 100%;
					height:336px ;
					border-top:2px solid #000000;
					
				}
				#content .content-warpper{
					width:1190px;
					height: 336px;
					margin:0 auto;
				}	
				
				#content .content-warpper .content-top-1{	
					display: block;
					font-size: 14px;
					margin-bottom: 5px;
					
				}
				
				#content .content-warpper .content-top-2{	
					width:481px ;
					height:481px;
					border:1px solid #666666;
				}
				
				#content .content-warpper .content-top-2 img{	
					margin-top:74px;
					margin-left:30px;
					
				}
		
				#nav{
					width: 100%;
					height:40px ;
					
				}
				#nav .nav-warpper{
					width:1190px ;
					height:40px ;
					margin:0 auto;
					
				}
				
				#nav .nav-warpper .nav-left{
					
					width: 200px;
					height: 40px;
					text-align: center;
					line-height: 40px;
					margin-left:0px;
					background: #000000;
				}
				
				#nav .nav-warpper .nav-left a{
					color: #fff;
				}
				
				#nav .nav-warpper a{
					color: #667C7C;
				}
				
				#nav .nav-warpper li{
					float: left;
					text-align: center;
					line-height: 40px;
					width:100px;
					height:40px;
				}
				#nav .nav-warpper li:hover{
					background:#666666;
				}
				#content{
					width: 100%;
					height:336px ;
					border-top:2px solid #000000;
					
				}
				#content .content-warpper{
					width:1190px;
					height: 336px;
				
					margin:0 auto;
					margin-top:20px;
					margin-bottom: 20px;
				}
				#content .content-warpper span{
					display: block;
					width:290px ;
					height:48px ;
					background: #666666;
					line-height: 48px;
					
				}
				#content .content-warpper ul li{
					float: left;
					width: 78px;
					height: auto;
					border-right:1px  dashed #000000;
					margin-top:10px;
					text-align: center;
				}
				#content .content-warpper-top{
					width:290px ;
					height:340px ;
					float: left;
					margin-left:3px;
					border:1px solid #dcdcdc;
				}
				#content .content-warpper ul{
					margin-left:20px;
				}
				#content .content-warpper{
					text-align: center;		
				}
				#section{
					width:100% ;
					height:199px;
					margin-top:40px;
				}
				#section .section-warpper{
					width: 1190px;
					height:199px ;
					margin: 0 auto;
					
				}
				#section .section-warpper .top-l{
					width:1190px;
					height:44px ;
					border-bottom: 2px solid #000000;
					line-height: 44px;
					
					
				}
				#section .section-warpper .span2{
					float: right;
					margin-right:10px;
				}
				#actives{
					width:100%;
					height: 372px;
					margin-bottom: 40px;
					
				}
				#actives .active-warpper{
					width: 1190px;
					height:372px ;
					margin:0 auto;
					background: #00BAFF;
					position: relative;
				}
				#actives .active-warpper p{
					width:1190px;
					height:2px;
					background:#000000;
					margin-top:4px
				}
				#actives .active-warpper .ulleft li{
					float: left;
					width:136px ;
					height: 30px;
					border:1px solid #666666;
					margin-top:-26px;
					text-align: center;
					line-height: 30px;
					
				}
					#section .section-warpper .span1{
						display:block;
						float: left;
						width: 100%;
						height: auto;
						
					
					}
					
					#actives .active-warpper .ulleft li:hover{
					background: #666666;
					
				}
					#actives .active-warpper .ulleft {
					margin-left:224px;
					}
				#actives .active-warpper .atevk {
					margin-left:2px;
					position: absolute;
					left:38px;
					top:40px;
					display: none;
					
				}
					#actives .active-warpper .atevk li{
					width:230px;
					height: 238px;
						float:left;
					
						
					}
					#actives .active-warpper .atevk li img{
					width:100%;
					height: 100%;
					margin-left:-20px;
					}
					
					#actives .active-warpper .atevk i{
					display: block;
						margin-top;10px;
						
					}
					
					
					
					
					#actives .active-warpper .atevk1 {
					margin-left:2px;
					position: absolute;
					left:38px;
					top:40px;
					display: none;
					
				}
					#actives .active-warpper .atevk1 li{
					width:230px;
					height: 238px;
						float:left;
					
						
					}
					#actives .active-warpper .atevk1 li img{
					width:100%;
					height: 100%;
					margin-left:-20px;
					}
					
					#actives .active-warpper .atevk1 i{
					display: block;
						margin-top;10px;
						
					}
				
					#actives .active-warpper .atevk2 {
					margin-left:2px;
					position: absolute;
					left:38px;
					top:40px;
					display: none;
					
				}
					#actives .active-warpper .atevk2 li{
					width:230px;
					height: 238px;
						float:left;
					
						
					}
					#actives .active-warpper .atevk2 li img{
					width:100%;
					height: 100%;
					margin-left:-20px;
					}
					
					#actives .active-warpper .atevk2 i{
					display: block;
						margin-top;10px;
						
					}
				
				
				
				
					#actives .active-warpper .atevk3 {
					margin-left:2px;
					position: absolute;
					left:38px;
					top:40px;
					display: none;
					
				}
					#actives .active-warpper .atevk3 li{
					width:230px;
					height: 238px;
						float:left;
					
						
					}
					#actives .active-warpper .atevk3 li img{
					width:100%;
					height: 100%;
					margin-left:-20px;
					}
					
					
					#actives .active-warpper .atevk3 i{
					display: block;
						margin-top;10px;
						
					}
				
				
				
				
					#actives .active-warpper .atevk4 {
					margin-left:2px;
					position: absolute;
					left:38px;
					top:40px;
					display: none;
					
				}
					#actives .active-warpper .atevk4 li{
					width:230px;
					height: 238px;
						float:left;
					
						
					}
					#actives .active-warpper .atevk4 li img{
					width:100%;
					height: 100%;
					margin-left:-20px;
					}
					
					#actives .active-warpper .atevk4 i{
					display: block;
						margin-top;10px;
						
					}
					
					
					
					
					#active{
			width: 100%;
			height: 566px;
			background: #f8f8f8;
		}
		#active .active-warpper{
			width:1190px ;
			height:566px ;
			background: #fff;
			margin:0 auto;
		}
		#active .active-warpper .lis{
			display: block;
			width:1190px;
			height: 66px;
			background: #F8F8F8;
			float: left;

		}
		#active .active-warpper .lis span{
				display: block;
				margin-top:64px;
				border-bottom: 3px solid #000000;
		}	
		.active-warpper-l{
			width: 1190px;
			height:248px ;
			
			line-height: 248px;
			
		}
		.active-warpper-l a{
			display: block;
			width:44px ;
			height:75px ;
			font-size: 40px;
			text-decoration: none;
		
		}
		.active-warpper-l img{
			margin-left:56px;
			margin-top:40px;
			}
			.left{
				width:510px;
				height:178px ;
				margin-top:130px;
				float: left;
				list-style: none;
			}
			.left li{
				width:524px;
				height:39px ;
				border-bottom: 1px dashed #000000;
				line-height: 39px;
			}
			.left li a{
			text-decoration: none;
			margin-left:20px;
			font-size: 14px;
			color:#000;
			}
			.right{
				width:521px;
				height:178px ;
				margin-top:130px;
				float: left;
				margin-left:140px;
			}
			
			.right li{
				width:510px;
				height:39px ;
				border-bottom: 1px dashed #000000;
				line-height: 39px;
				list-style: none;
			}
			
			.right li a{
			text-decoration: none;
			margin-left:20px;
			font-size: 14px;
			color:#000;
			
			}
		#footer-t{
			width:100%;
			height: 206px;
				background:#f4f4f4;
		}
			}
		#footer-t .foorter-warpper{
			width:1190px;
			height:206px ;
		
		}
		.foorter-t-l{width:1190px ;height:46px ;border:1px solid #666666;margin:0 auto;line-height: 46px;list-style: none;}
		
		.foorter-t-l em{
			color:red;
			margin-bottom: 10px;
		}
		.foorter-t-l a{
			width:100%;
			height: 100%;
			margin-left: 90px;
			line-height: 46px;
		}
		
		.foorter-t-b{
			width:1190px ;
			height:154px ;
			margin:0 auto;
		
		}
		.foorter-t-b .li-top{
			margin-top:14px;
		}
		.foorter-t-b li{
		line-height: 20px;
		list-style: none;
		}
		.foorter-t-b .ul-top{
		
		width: 140px;
		height:157px ;
		float: left;
		font-size: 12px;
		
		} 
		.foorter-t-b .ul-top a{
		
		text-decoration: none;
		
		} 
		.foorter-t-b .ul-top-l{
		
		width: 162px;
		height:157px ;
		float: left;
		font-size: 12px;
		
		} 
		
		.foorter-t-b .ul-top-l em{
			color:red;
		} 
		.foorter-t-b .ul-top-l a{
				text-decoration: none;
				
		} 
		#footer{
		width: 100%;
		height:115px ;
		}
		
		#footer .footer-warpper{
			width: 100%;
			height:101px ;
			background: #000;
			font-size: 12px;
			
		}
		#footer .footer-warpper .footer-ul-fo{
		margin-left:180px;
	
		}
		
		
		
		#footer .footer-warpper .footer-ul-fo li{
			float: left;
			width:82px;
			border-right:1px solid #fff;
			text-align: center;	
			margin-top:10px;
			
		}
		#footer .footer-warpper .footer-ul-fo li a{
			text-decoration: none;
			color:#fff;
		}
		#footer .footer-warpper .footer-ul-b li{
			list-style: none;
			color:#fff;
		}
		
		#footer .footer-warpper .footer-ul-b{
			margin-left:136px;
			margin-top:20px;
		}
		#footer .footer-warpper .footer-ul-b li a{
			text-decoration: none;
			color:#fff;
		}
		
		
		
		#content img{
			transition: all linear 1s;
		}
		
		#content img:hover{
			transform: translate(2px,6px);
			opacity: 0.6;
			
		}
		.active-warpper{
			position:absolute;
			top:0px;
			left:0px;
		}
		.active-warpper .active-right{
			position: absolute;
			left:53px;
			top:110px;
		}
			[type="button"]{
									width:80px;
					height: 31px;
					background: #000000;
					background-image: url("../img/3.jpg");
					background-repeat:no-repeat;
					background-position: 5px 8px;
					border: 1px solid #000;
					border-left:0px;
					border-bottom:0px;
					color:#fff;
					float: left;
					
					margin-top:42px;
				}
				[type="text"]{
					width:440px;
					height:30px;
					border:1px solid #000;
					border-right:0px;
					float: left;
					margin-left:100px;
					margin-top:42px;
				}
				